@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deploying Application Service</h1>
</div>

<ul>
    <li>
        Create App ASP.NET Core, Remember Platform ( .NET 8 )
    </li>

    <li>
        Sign Up ( Subscription ) - Pay As you go
    </li>
    <li>
        Create App Service - Web App - Pricing Plan F0 ( 0.00$ )
        Code ( .NET 8 )
    </li>
    <li>
        Allow Basic Auth: Settings -> Configurations <br/>
        SCM Basic Auth Publishing Credentials -> ON  <br/>
        FTP Basic Auth Publishing Credentials -> ON
    </li>
    <li>
        Publish Project ( Build - Publish )
        <ul>
            <li>Azure</li>
            <li>AppService ( Windows )</li>
            <li>Choose App Service ( Check Sign In Acc )</li>
            <li></li>
        </ul>
    </li>
    <li>
        Test Locally
    </li>
    <li>
        Publish
    </li>
</ul>