@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Azure Exploring</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3><a asp-action="AppService">Application Service</a></h3>
<h3><a asp-action="Translator">Translator Service</a></h3>
<h3><a asp-controller="Search">Bing Search Service</a></h3>

